
.App {
    font-family: sans-serif;
    text-align: center;
  }
:root {
    --meter-color: hsl(114, 82%, 57%);
  }
  .div-table {
    margin-left:3px;
    margin-top:15px;
    display: table;
    width: 99%;
    position: relative;
    border-width: 2px;
    border-style: solid;
    filter:drop-shadow(2px 2px 1px black);

  }
  .row-count {
    position: absolute;
    left: 0px;
    top: -18px;
    color: rgb(117, 117, 117);
    font-style: italic;
    font-size: 0.85rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .tr {
    display: table-row;
    background:  #3b833b;
    opacity: 1;
    z-index: 0;
    transition: transform 0.2s;
    position: relative;
  }
  
  .row-alert {
    display: block;
    position: absolute;
    left: -8px;
    top: 7px;
  }
  
  .td {
    display:block;
    background:  #9b9bac;

  }
  
  .div-table-heading,
  .styled-table thead {
    background-color:  #60f060;
    /* display: table-header-group; */
    font-weight: bold;
    padding: 14px 16px;
    color: #000000;
    position: relative;
  }
  
  .div-table-body,
  .styled-table tbody {
    display: table-row-group;
  }
  
  .div-table-cell,
  .styled-table th {
    display: table-cell;
    padding: 10px 13px;
    background-color:  #e9e9e9;;
    border-right: 1px solid darken( #b5b5c2, 15%);
    vertical-align: middle;
    text-align: left;
    white-space: pre-wrap;
  }
  .text-box {
    width:50%;
    margin-top:5px;
    /* vertical-align:center; */
    margin-left:2px;
    margin-right:4px;
    font-size: 26pt;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px black;
    border-radius:0.5em;
    padding-left:12px;
    padding-top: 3px;
  }
  
  .label{
    margin-top:10px;
    margin-left:.5%;
    font-weight: bold;
  }
  .labelbig{
    width:33%;
    margin-top:10px;
    margin-left:.5%;
    font-weight: bold;
    padding-left: 15px;
    padding-bottom:5px;
    font-size:40px;
    border-radius:0.5em;
    background-color: rgb(156, 156, 156);
  }
  .label1{
    margin-top:35px;
    margin-left:.5%;
    font-weight: bold;
  }
  .tab {
    overflow: hidden;
    background-color: rgb(129, 129, 129);
    /* filter:drop-shadow(0px 4px 3px black) */
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: #60f060;
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
  }

  .button2 {
    height:50px;
    font-size: 19pt;
    background-color: #60f060;
    filter:drop-shadow(2px 2px 1px black);
    border-radius:0.5em;
    padding: 12px 25px;
    text-align: center;
    vertical-align:top;

  }
  body{
    background-color: rgb(204, 204, 204);
  }

  .usercontainer {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    margin-right:10px;
  }
  
  .profileimg {
    flex: 0 0 25%;
  }
  
  .userinfo {
    flex: 0.8;
    margin-left:5px;
  }
  
  .altImg{
    margin-left: 20px;
    flex: .6;
  }
  .imagealt{
    height: 70px;
  }
  .hiscores{
    display:flex;
    margin-left:10px;
    width:240px;
    height:300px;
    flex-grow:0;
    background-image: url(Images/hiscores.png);
    background-size:cover;
  }
  .infoItem{
    margin-left: 15px;
  }
 
  .meter {
    flex: 0 0 auto;
    margin-left: 9px;
    width: 200px;
    height: 30px;
    background: #eee;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display:flex;
  }
  .meter-bar {
    flex: 0 0 auto;
    background-color: var(--meter-color);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    transition: width 300ms, background 300ms;
  }
  .meter-alt-container{
    display:flex;
  }
  .meter::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0.5) 80%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .statdiv1{
    margin-left:58px;
    margin-top:9px;
    text-decoration-color: white;
  }
  .statdiv2{
    margin-left:60px;
    margin-top:9px;
    text-decoration-color: white;
  }
  .statdiv3{ 
    margin-top:9px;
    margin-left:58px;
    text-decoration-color: white;
  }
  .stat{
    color:yellow;
    margin-top:0px;
  }
  .stattotal{
    font-weight: bold;
    margin-left:-30px;
    color:yellow;
    margin-top:-10px;
  }
  .totallabel{
    font-weight: bold;
    font-size:10px;
    margin-left:-30px;
    color:yellow;
    margin-top:-10px;
  }
  .username{
    margin-left:-115px;
    font-weight: bold;
  }
  .marginHi{
    margin-top:13px;
  }
  .logout{
    width: 5%;
    display:inline-block;
    height: 40px;
    background-color: #60f060;
    color: #1F6C8B;
    font-family: Arial;
    font-weight: bold;
  }
  .logout:hover{
    cursor: pointer;
  }
  .empty{
    width:95%;
    display:inline-block;

  }
  .App-header{
    display:flex;
    height:220px;
    background-image: url(Images/AltChecker.jpg);
    background-size:cover;
    background-repeat: no-repeat;
  }
  .loginbutton{
    margin-top: 20px;
    margin-left: 20px;
    width:35%; 
    height:400px; 
    max-height: 400px;
    border: 0;
    background:transparent;
    background-image: url(Images/Login.png);
    background-size: 100%; 
    background-repeat: no-repeat;  
    outline:none;
  }

  .loginbutton:hover{
    background-image: url(Images/LoginShadow.png);
    cursor:pointer;
  }


  .markSus{
    font-weight: bold;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left:9px;
    color:white;
    background-color: red;
  }
  .markSus:hover{
    cursor:pointer;
  }

  .markSusRSN{
    width: 200px;
    height: 30px;
    margin-top: 40px;
    margin-left: 30px;
    color:white;
    background-color: red;
  }
  .markSusRSN:hover{
    cursor:pointer;
  }
 